
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #03438C;
  font-family: fantasy, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(255, 111, 0);
  letter-spacing:2vw;
  text-align: left;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #002856;
  font-size: large;

}

@media screen and (max-width:767px) {
    .game-container{
      display: grid;
      grid-template-columns: repeat(2, auto);
    }
}

.header{
  text-align: center;
  padding: 10px;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('./image.jpg');
  background-position:center top;
  color: aliceblue;
  text-shadow: 2px 2px 5px black;
  font-size: x-large;
}

/* Style the content */
.content {
  background-color: #5AABED;
  padding: 10px;
  color: #03438C;
  text-align: center;
  min-height: 120vh;
  overflow: hidden;
  
}

/* Style the footer */
.footer {
  background-color: #03438C;
  padding: 10px;
  display: block;
}

.button {
  border-radius: 8px;
  font-size: 24px;
  background-color: #003571;
  width: 50%;
  color:aliceblue;
  box-shadow: 0 7px rgba(0, 1, 86, 0.3);
  border: none;
  cursor: pointer;
  
}

.button:hover {background-color: #002856}

.button:active {
  background-color: #002856;
 box-shadow: 0 5px rgba(0, 1, 86, 0.6);
  transform: translateY(4px);
}

.button2 {
  border-radius: 8px;
  font-size: 24px;
  background-color: #000000;
  width: 25%;
  color:aliceblue;
  box-shadow: 0 7px rgba(0, 1, 86, 0.3);
  border: none;
  cursor: pointer;
}

.wrapper{
    box-sizing: border-box;
    padding:5%;
    background-color: aliceblue;
    gap: 5%;
    position: absolute;
    border-radius: 8px;
    width: 60%;
    height: auto;
    margin-left: 20%;
    box-shadow: 0 9px 9px #02264f;
    @media screen and (max-width:767px) {
      margin-left: 15%;
      width: 70%;
    }
}

.game-container {
  position:relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,auto);
  gap: 0.6em;
  
  @media screen and (max-width:767px) {
      display: grid;
      grid-template-columns: repeat(2, auto);
    
}
}
.stats-container {
  text-align: right;
  margin-bottom: 1.2em;
}
.stats-container span {
  font-weight: 600;
}
.card-container {
  position: relative;
  width: 6.25em;
  height: 6.25em;
  cursor: pointer;
}
.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #03438C;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}
.card-before {
  font-size: 2.8em;
  font-weight: 600;
  
}
.card-after {
  background-color: #ffffff;
  transform: rotateY(180deg);
}
.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}


.hide {
  display: none;
}
#result {
  text-align: center;
}
#result h2 {
  font-size: 2.5em;
}
#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  border: 2px solid #03438C;
 
  margin:auto;
  
}

td, th {
  border: 1px solid #03438C;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #47A1EB;
}

tr:nth-child(odd) {
  background-color: aliceblue;
}
